@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {

}

* {
    margin: 0;
    font-family: "Poppins";
}

.svg {
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.card-container {
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card-container img {
    width: 50%;
}

.card {
    /* background-color: #ff0004;
    background-image: linear-gradient(0deg, #ff0004 0%, #ffffff 30%); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: 25%;
    font-size: 1.5em;
    border-radius: 30px;
    border: 2px solid red;
    background-color: white;
    overflow: fit-content;
    z-index: 1;
    box-shadow: -2px 1px 15px -4px rgba(0,0,0,0.62);
    -webkit-box-shadow: -2px 1px 15px -4px rgba(0,0,0,0.62);
    -moz-box-shadow: -2px 1px 15px -4px rgba(0,0,0,0.62);
    transition: ease-in 0.2s;
    margin: 10px;
}

.card:hover {
    scale: 1.1;
}

.card-flip {
    transform: rotateY(180deg);

}

.card p {
    padding-top: 10px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2em;
    background-color: red;
    color: white;
    border: 2px solid white;
    transition: ease-in 0.2s;
    margin: 10px;
}

.button:hover {
    border: 2px solid red;
    color: red;
    background-color: white;
    scale: 1.05;
}

@media screen and (max-width: 610px) {
    .button-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .card-container {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
    }

}